#app {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
  
   
  } 

  .navbar{
position: absolute;
width: 100vw;
height: 103px;
z-index: 1000;
background: linear-gradient(180deg, rgba(12, 13, 13, 0.984863) 0%, rgba(151, 151, 152, 0.908383) 57.29%, rgba(255, 255, 255, 0.50228) 100%);
  }

  .dash_logo{
    position: absolute;
    top:3vh;
    left: 1vw;
  }

  .tagline{
    position: absolute;
    top: 8vh;
    left: 1vw;
font-family: Arimo;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 19px;

color: #3C3E3F;
  }

  .links{
    position: absolute;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    gap: 3rem;
left: 69vw;
top: 4.8vh;
font-family: Arimo;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 19px;
cursor: pointer;
color: #FEFEFE;
  }

  .start{
    position: absolute;
    top: 11vh;
    z-index: 1000;
    background-color: #FFFFFF;
    width: 150px;
    height: 50px;

  }
  .begin{
    position: absolute;
    left: 0.5vw;
    top: 1.5vh;
    font: Roboto sans-serif;
    background: #feffff;
border-radius: 30px;
font: Roboto sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
  }
  .menu{
    position: absolute;
    left: 5.5vw;
    top: 1.3vh;
  }


.home{
justify-content: space-around;
left: 71.5vw;
top: 4.8vh;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 19px;

color: #FEFEFE;
    text-decoration: none;
  }
  .logo2{
    position: absolute;
    left: 90.5vw;
    top: 3.8vh;

  }

  .analysis{
    position: absolute;
    z-index: 1000;
    top: 11vh;
   
width: 356px;
height: 815px;

background: linear-gradient(180deg, rgba(0, 0, 0, 0.956377) 0%, rgba(212, 213, 215, 0.666) 100%);
  }
 

  .close_analysis{
    position: absolute;
    top:1vh;
    left: 17vw;
  }
  .close_chart_container{
    position: absolute;
    top:1vh;
    left: 37vw;
    
  }


  .region{
    position: absolute;
    top: 5vh;
    margin-left: 1vw;
    margin-right: 1vw;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 19px;

color: #FFFFFF;
  }


  /* test for custom select */

  .select_region{
    position: absolute;
    top: 8vh;
    left: 0.5vw;
  }
  .routes{
    position: absolute;
    top: 15vh;
    margin-left: 1vw;
    margin-right: 1vw;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 19px;
color: #FFFFFF;
  }
  .select_route{
    position: absolute;
    top: 18vh;
    left: 0.5vw;
  }

  .causes{
    position: absolute;
    top: 25vh;
    margin-left: 1vw;
    margin-right: 1vw;
    font: Roboto sans-serif;

font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 19px;
color: #FFFFFF;
  }
  .select_cause{
    position: absolute;
    top: 28vh;
    left: 0.5vw;
  }

  .facilities{
    position: absolute;
    top: 45vh;
    margin-left: 1vw;
    margin-right: 1vw;
    font: Roboto sans-serif;

font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 19px;
color: #FFFFFF;
  }
  .select_facility{
    position: absolute;
    top: 48vh;
    left: 0.5vw;
  }

  .stats{
    position: absolute;
    top: 35vh;
    left: 3.3vw;
    width: 117px;
height: 19.03px;
width: 207px;
height: 46.08px;

background: #0C0D0D;
border-radius: 30px;
font: Roboto sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 19px;
/* identical to box height */


color: #FFFFFF;
  }


  /* chart container */
 
 .chart_container{
  position: absolute;
  top: 67.95vh;
  left: 18.5vw;
width: 740px;
height: 280px;
z-index: 1000;
background: linear-gradient(90.13deg, rgba(12, 13, 13, 0.9) 0.21%, rgba(93, 98, 99, 0.9) 52.9%, rgba(144, 148, 150, 0.800763) 99.97%, rgba(30, 77, 92, 0.765) 99.98%, rgba(255, 255, 255, 0.9) 99.98%);
 }
  
  
  .map_controls{
    /* position: absolute; */
      top: 25vh;
      margin: 95%;
      z-index: 800; 
      /* background-color: aqua;   */
    }
    .zoomin_tool{
      z-index: 800;
      position: absolute;
      top: 5%;
      left:97%;
      cursor: pointer;
      border-radius: 55px;
    }
    .zoomout_tool{
      z-index: 800;
      position: absolute;
      top: 10%;
      left:97%;
      cursor: pointer;
    }
    .basemaps{
      z-index: 800;
      position: absolute;
      top: 15%;
      left:97%;
      cursor: pointer;
    }
    .base_map_ctrl_selections {
      position: absolute;
      z-index: 401;
      /* margin-top: 5%; */
      top: 28vh;
      left:90%;
      background-color: #FFFFFF;
      border-radius: 10px;
      padding: 5px;
    }
    .base_map_name {
      font-size: 15px;
      cursor: pointer;
      border-bottom: #080808 solid 3px;
    }
    .base_map_name:hover {
      background-color: #858585;
    }
    .download{
      z-index: 800;
      position: absolute;
      top: 20%;
      left:97%;
      cursor: pointer;
    
    }